# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de Vercel
.vercel

# Node y npm
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Archivos de build y dist
dist/
build/

# Archivos temporales
*.log
*.tmp
.cache/

# Variables de entorno
.env
.env.local
.env.*.local
